<div id="content">
	<!-- personalize form -->
	<form class="personalize-form">
		<div name="userprofile_form" ng-form="userprofile_form">
			
			<div class="form-row">
				<span>{{"ALLERGIES_DRUG" |translate}}</span> 
				<span ng-model="foodAndDietDate"></span>
			</div>
			<div class="form-row">
				<span>{{"ALLERGIES_FOOD" |translate}}</span> 
				<span ng-model="foodAndDietType"></span>
			</div>
			
			<div class="form-row">
				<span>{{"ALLERGIES_OTHERS" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
		</div>
	</form>
</div>
