  <div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs sideMenuAllergieIconImg"></i>
						</span>
						<h2>{{"ALLERGIES_DRUG" |translate}}<span>Penicillin</span></h2>
							<div class="description">
								<span >{{"ALLERGIES_FOOD" |translate}}</span><span>banana</span>
							</div>	

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"ALLERGIES_DRUG" |translate}}</span><span>Penicillin</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"ALLERGIES_FOOD" |translate}}</span> <span>banana</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"ALLERGIES_OTHERS" |translate}}</span><span>N/A</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
		</div>
</div>
 
