<div id="content">
	<!-- personalize form -->
	<form class="personalize-form">
		<div name="userprofile_form" ng-form="userprofile_form">
			
			<div class="form-row">
				<span>{{"ANAESTHESIA_DATE" |translate}}</span> 
				<span ng-model="foodAndDietDate"></span>
			</div>
			
			<div class="form-row">
				<span>{{"ANAESTHESIA_DESCRIPTION" |translate}}</span> 
				<span ng-model="foodAndDietType"></span>
			</div>
			
			<div class="form-row">
				<span>{{"ANAESTHESIA_NOTES" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
			
		</div>
	</form>
</div>

<div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs sideMenuTraumaIconImg"></i>
						</span>
						<h2>{{"TRAUMAHISTORY_DATE" |translate}}<span>2010</span></h2>
							<div class="description">
								<span >{{"TRAUMAHISTORY_DESCRIPTION" |translate}}</span><span>acl</span>
							</div>	

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"TRAUMAHISTORY_DATE" |translate}}</span><span>2010</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"TRAUMAHISTORY_DESCRIPTION" |translate}}</span> <span>acl</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"TRAUMAHISTORY_NOTES" |translate}}</span><span>endoscoplc</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
		</div>
</div>
 
