
<div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs sideMenuTraumaIconImg"></i>
						</span>
						<h2>{{"CANCER_DATE" |translate}}<span>2007	</span></h2>
							<div class="description">
								<span >{{"CANCER_PRIMARY" |translate}}</span>lung	<span></span>
							</div>	

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"CANCER_DATE" |translate}}</span><span>2007</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CANCER_PRIMARY" |translate}}</span> <span>lung	</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CANCER_SECONDARY" |translate}}</span><span>liver</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CANCER_CHEMOTHERAPY" |translate}}</span><span>N/A</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CANCER_RADIOTHERAPY" |translate}}</span><span>N/A</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
		</div>
</div>
 
