<div id="content">
	<!-- personalize form -->
	<form class="personalize-form">
		<div name="userprofile_form" ng-form="userprofile_form">
			
			<div class="form-row">
				<span>{{"CANCER_DATE" |translate}}</span> 
				<span ng-model="foodAndDietDate"></span>
			</div>
			
			<div class="form-row">
				<span>{{"CANCER_PRIMARY" |translate}}</span> 
				<span ng-model="foodAndDietType"></span>
			</div>
			
			<div class="form-row">
				<span>{{"CANCER_SECONDARY" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
			
			<div class="form-row">
				<span>{{"CANCER_CHEMOTHERAPY" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
			
			<div class="form-row">
				<span>{{"CANCER_RADIOTHERAPY" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
		</div>
	</form>
</div>
