 <div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs postpartumIconImg"></i>
						</span>
						<h2>{{"CHILDHOOD_POSTPARTUM" |translate}}</h2>
							<!--  <div class="description">
								<span >{{"SURGICALPROCEDURE_DATE" |translate}}<span>2001</span></span>
								
							</div>	  -->

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"CHILDHOOD_POSTPARTUM_NOTE" |translate}}</span><span>appendicectomy</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs vaccineIconImg"></i>
						</span>
						<h2>{{"CHILDHOOD_VACCINATION" |translate}}</h2>
							 <!-- <div class="description">
								<span >{{"SURGICALPROCEDURE_DATE" |translate}}<span>1979</span></span>
								
							</div>	  -->

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"CHILDHOOD_VACCINATION_DATE" |translate}}</span><span>first 2 years	</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CHILDHOOD_VACCINATION_NAME" |translate}}</span> <span>received all vaccines</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"CHILDHOOD_VACCINATION_BY" |translate}}</span><span>ministry of health.at sheraton district</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			
				<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs childrenFeedingIconImg"></i>
						</span>
						<h2>{{"CHILDHOOD_FEEDING" |translate}}</h2>
							<!--  <div class="description">
								<span >{{"SURGICALPROCEDURE_DATE" |translate}}<span>1979</span></span>
								
							</div>	 --> 

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"CHILDHOOD_FEEDING_NOTES" |translate}}</span><span>Bottle feeding (bebelac 1 and 2,Miluba)
</span>
							</div>
						</div>
					
					</div>
				</div>
			</li>
			</ul>
		</div>
</div>
 

