<div id="content">
	<!-- personalize form -->
	<form class="personalize-form">
		<div name="userprofile_form" ng-form="userprofile_form">

			<div class="form-row">
				<span>{{"FOODANDDIET_DATE" |translate}}</span> 
				<span ng-model="foodAndDietDate"></span>
			</div>
			
			<div class="form-row">
				<span>{{"FOODANDDIET_TYPE" |translate}}</span> 
				<span ng-model="foodAndDietType"></span>
			</div>
			
			<div class="form-row">
				<span>{{"FOODANDDIET_DOSE" |translate}}</span> 
				<span ng-model="foodAndDietDose"></span>
			</div>
			
		</div>
	</form>
</div>
