 <div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area opener"> <span class="icon">
								<i class="catIconsConfigs sideMenuheartIconImg"></i>
						</span>
						<h2>{{"MAJORILLNESS_TITLENAME" |translate}}</h2>
							<!-- <div class="description">
								<span >{{"MEDICALEVENTS_DESCRIPTION" |translate}}</span><span>12-01-2009</span>
							</div>	 -->

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span><span>DM 10 Years ago</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span> <span>HTN</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span><span>IHD</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			
			<li class="open-close" >
				<div class="heading">
					<div class="area">
						<a class="titles-area "> <span class="icon">
								<i class="catIconsConfigs sideMenuEventsIconImg"></i>
						</span>
						<h2>{{"MAJORILLNESS_NOTES" |translate}}</h2>
							<span>N/A</span>

						</a> <a class="fav-holder"> <i class="fav validate-fav inActiveMarkFavorite" mark-favorite ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span><span>DM 10 Years ago</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span> <span>HTN</span>
							</div>
						</div>
						<div class="item-info">
							<div class="txt">
								<span>{{"MAJORILLNESS_NAME" |translate}}</span><span>IHD</span>
							</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
		</div>
</div>
 
