<div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close" ng-repeat="outletItem in searchList |orderBy:'NAME' track by $index">
				<div class="heading">
					<div class="area">
						<a class="titles-area opener" href="#"> <span class="icon">
								<i class="icon-cart"></i>
						</span>
							<h2>{{outletItem.NAME}}</h2>
							 <div class="description">
								<span></span> {{outletItem.ADDRESS_DETAILS}}
							</div> 
						</a> <a class="fav-holder"> <span class="fav inActiveMarkFavorite" mark-favorite ng-click="markFavorite(outletItem.ID)">Favourite</span>
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						 <div class="item-info">	
						</div>
						<div class="form-row buttons">
							<input type="button" value="List Offers" ng-click="ListOffersInOutlet(outletItem.NAME,outletItem,null,null)">
						</div>
						
						<div class="item-info" ng-if="outletItem.CONTACT_NO!=null||outletItem.CONTACT_EMAIL!=null">
							<i class="icon-touch"></i> <strong class="title">{{"MERCHANTS-GETINTOUCH" |translate}}</strong>
							<p>
								<a ng-click="dialNumber(outletItem.CONTACT_NO)" ng-if="outletItem.CONTACT_NO!=null">+{{outletItem.CONTACT_NO}}</a>
							</p>
							<p>
							<a ng-click="invokeMail(outletItem.CONTACT_EMAIL)"
									><span class="underlineAndWhiteContent">{{outletItem.CONTACT_EMAIL}}</span></a>
							</p>
								
								
						</div>
						<div class="item-info" ng-if="outletItem.LOCATION.length>0">
							<i class="icon-location"></i> <strong class="title">{{"MERCHANTS_WHERETOFINDUS" |translate}}</strong>
							<p ng-repeat="locationItem in outletItem.LOCATION track by $index"><i class="locationPin"></i>
							<span ng-if="locationItem.LONGITUTE!=null" ng-click="openMapLocation(locationItem.LATITUDE,locationItem.LONGITUTE)">{{locationItem.NAME}}</span>
							<span ng-if="locationItem.LONGITUTE==null">{{locationItem.NAME}}</span>
							</p>						
						</div>
						
							
							
						
						
						<div class="item-info" ng-if="outletItem.WEBSITE!=null">

							<i class="icon-time"></i> <strong class="title">{{"MERCHANTS_WEBSITE" |translate}}</strong>
							<p  ng_click="openWebSite(outletItem.WEBSITE)">{{outletItem.WEBSITE}}</p>
							
						</div>

					</div>
				</div>
			</li>
		</ul>
	</div>
</div>