<div id="content">
	<div class="content-inner">
		<ul class="items-list">
			<li class="open-close"  ng-repeat="favoriteItem in offerListUpdated  track by $index ">
				<div class="heading" >
					<div class="area">
						<a class="titles-area opener "> 
 						<span class="icon">
								<i class="catIconsConfigs" ng-class="'cat'+favoriteItem.CATEGORY"></i>
						</span>
							<h2>{{favoriteItem.NAME}}</h2>
							<div class="description">
								<span>{{favoriteItem.TITLE}}</span>
							</div>

						</a> <a class="fav-holder" > <i class="fav validate-fav inActiveMarkFavorite" mark-favorite  ng-click="markFavoriteFn(favoriteItem.ID)"><span >favourite</span></i>

						</a>
					</div>
				</div>
				<div class="slide">
					<div class="holder">
						<div class="item-info">
							<div class="txt">
								<p>{{favoriteItem.DESCRIPTION}}</p>
							</div>
						</div>
						<div class="item-info">
							<div class="item-fav" >
								<strong class="title">{{"SHOWOFFER_RATING" |translate}}</strong>
								<div class="stars">
									<div ng-class="favoriteItem.offerRating.ratingsVals.one ? 'activeRatingStars' : 'inActiveRatingStars'" ng-click="clicked(favoriteItem.ID, favoriteItem.PERMIT_NUMBER, 1)"  get-siblings></div>
									<div ng-class="favoriteItem.offerRating.ratingsVals.two ? 'activeRatingStars' : 'inActiveRatingStars'" ng-click="clicked(favoriteItem.ID, favoriteItem.PERMIT_NUMBER, 2)"  get-siblings></div>
									<div ng-class="favoriteItem.offerRating.ratingsVals.three ? 'activeRatingStars' : 'inActiveRatingStars'" ng-click="clicked(favoriteItem.ID, favoriteItem.PERMIT_NUMBER, 3)"  get-siblings></div> 
									<div ng-class="favoriteItem.offerRating.ratingsVals.four ? 'activeRatingStars' : 'inActiveRatingStars'" ng-click="clicked(favoriteItem.ID, favoriteItem.PERMIT_NUMBER, 4)"  get-siblings></div>
								    <div ng-class="favoriteItem.offerRating.ratingsVals.five ? 'activeRatingStars' : 'inActiveRatingStars'" ng-click="clicked(favoriteItem.ID, favoriteItem.PERMIT_NUMBER, 5)"  get-siblings></div>
								</div>
							</div>
						</div>
						<div class="form-row buttons">
				            <input type="button" value="Share" ng-click="socialShare(favoriteItem.NAME)">
		       	        </div>	
						<div class="item-info" ng-if="favoriteItem.IS_ADIB_OFFER!='N'">
							<div class="special">
								<i class="icon-special"></i> <strong class="title"><strong>{{"SHOWOFFER_SPECIALOFFERTITLE" |translate}}</strong></strong>
								<p ng-click="navigateToContactUs()">{{favoriteItem.ADIB_DESCRIPTION}}</p>
							</div>
						</div>

						<div class="item-info" ng-if="favoriteItem.CONTACT_NO!=''||favoriteItem.CONTACT_EMAIL!=''">

							<i class="icon-touch"></i> <strong class="title">{{"SHOWOFFER-GETINTOUCH" |translate}}</strong>
							
							<p >
								<a ng-click="dialNumber(favoriteItem.CONTACT_NO)" ng-if="favoriteItem.CONTACT_NO!=null"><span class="underlineAndWhiteContent">+{{favoriteItem.CONTACT_NO}}</span></a>
							</p>
							<br/>
							<p>
								<a ng-click="invokeMail(favoriteItem.CONTACT_EMAIL)"
									><span class="underlineAndWhiteContent">{{favoriteItem.CONTACT_EMAIL}}</span></a>
							</p>
						</div>
						<div class="item-info" ng-if="favoriteItem.LOCATION.length>0">
							<i class="icon-location"></i> <strong class="title">{{"MERCHANTS_WHERETOFINDUS" |translate}}</strong>
							<p ng-repeat="locationItem in favoriteItem.LOCATION track by $index"><i class="locationPin"></i>
							<span ng-if="locationItem.LONGITUTE!=null" ng-click="openMapLocation(locationItem.LATITUDE,locationItem.LONGITUTE)">{{locationItem.NAME}}</span>
							<span ng-if="locationItem.LONGITUTE==null">{{locationItem.NAME}}</span>
							</p>
						
						</div>
						
						<div class="item-info">
							<i class="icon-time"></i> <strong class="title">{{"SHOWOFFER-FROM" |translate}}</strong>
							<p>{{favoriteItem.START_DATE |limitTo :10}}</p>
						</div>
						<div class="item-info">
							<i class="icon-time"></i> <strong class="title">{{"SHOWOFFER-TO" |translate}}</strong>
							<p>{{favoriteItem.END_DATE |limitTo :10}}</p>
						</div>
						
					</div>
					</div>
			</li>
		</ul>
		<div class="form-row buttons offerListAddmore" >
				<input type="button" value="Show More" ng-click="appendmore()">
			</div>
	</div>
</div>