<div id="content">
	<!-- personalize form -->
	<form class="personalize-form">
		<div name="userprofile_form" ng-form="userprofile_form">
			<div class="form-row">
				<label for="name">{{"USERPROFILE_NAME" |translate}}</label> <input
					id="name" type="text" ng-model="name" placeholder="Full Name"
					ng-required="true" ng-pattern="{{'patternToUSe'}}" name="name">
				<span style="color: red"
					ng-show="userprofile_form.name.$dirty && userprofile_form.name.$invalid">
					<span ng-show="userprofile_form.name.$error.pattern">Not a
						valid name!</span> <span ng-show="userprofile_form.name.$error.required">Full
						Name is required.</span>
				</span>

			</div>
			<div class="form-row">
				<label for="mobile">{{"USERPROFILE_MOBILENUMBER"
					|translate}}</label>
				<div class="countries-number">
					<input id="mobile" type="tel" placeholder="567 456 3456"
						ng-model="mobile" name="mobile" ng-minlength="5" ng-maxlength="15"
						ng-pattern="/^[0-9]*$/" required>
				</div>
				<span style="color: red"
					ng-show="userprofile_form.mobile.$dirty && userprofile_form.mobile.$invalid">
					<span ng-show="userprofile_form.mobile.$error.pattern">Not a
						valid number!</span> <span
					ng-show="userprofile_form.mobile.$error.required">Mobile
						number is required.</span> <span
					ng-show="userprofile_form.mobile.$error.mobile">Invalid
						mobile number.</span> <span
					ng-show="userprofile_form.mobile.$error.minlength">Mobile
						number is too short.</span> <span
					ng-show="userprofile_form.mobile.$error.maxlength">Mobile
						number is too long.</span>
				</span>
			</div>
		
			<div class="form-row">
				<label for="email">{{"USERPROFILE_EMAIL" |translate}}</label> <input
					id="email" type="email" ng-model="email"
					placeholder="name@yourwebsite.com" ng-required="true" name="email"
					ng-pattern='/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
				<span style="color: red"
					ng-show="userprofile_form.email.$dirty && userprofile_form.email.$invalid">
					<span ng-show="userprofile_form.email.$error.required">Email
						is required.</span> <span ng-show="userprofile_form.email.$error.pattern">Not
						a valid email!</span>
				</span>
			</div>
			<div class="form-row">
				<label for="name">{{"USERPROFILE_OCCUPATION" |translate}}</label> <input
					id="name" type="text" ng-model="occupation" placeholder="Full Name"
					ng-required="true"  name="name">
				<span style="color: red"
					ng-show="userprofile_form.name.$dirty && userprofile_form.name.$invalid">
					<span ng-show="userprofile_form.name.$error.pattern">Not a
						valid name!</span> <span ng-show="userprofile_form.name.$error.required">Full
						Name is required.</span>
				</span>

			</div>

			<div class="form-row">
				<label for="name">{{"USERPROFILE_ADDRESS" |translate}}</label> <input
					id="name" type="text" ng-model="address" placeholder="Full Name"
					ng-required="true" name="name">
				<span style="color: red"
					ng-show="userprofile_form.name.$dirty && userprofile_form.name.$invalid">
					<span ng-show="userprofile_form.name.$error.pattern">Not a
						valid name!</span> <span ng-show="userprofile_form.name.$error.required">Full
						Name is required.</span>
				</span>

			</div>
			<div class="form-row">
				<label for="nationality">{{"USERPROFILE_NATIONALITY"
					|translate}}</label> <select id="nationality" ng-model="nationality"
					name="nationality" ng-required="true" required>
					<option ng-repeat="nationality in counrtyListFromJson">{{nationality.counrtyName}}</option>
				</select> <span style="color: red"
					ng-show="userprofile_form.nationality.$dirty && userprofile_form.nationality.$invalid">
					<span ng-show="userprofile_form.nationality.$error.required">Nationality
						is required.</span>
				</span>
			</div>

			<div class="form-row">
				<span>{{"USERPROFILE_NATIONALID" |translate}}</span> 
				<span ng-model="nationalID">26009050104532</span>
			</div>
			<div class="form-row">
				<span>{{"USERPROFILE_DOB" |translate}}</span>
				<span ng-model="dateOfBirth">05-09-1960</span>
			</div>
			<div class="form-row">
				<label>{{"USERPROFILE_MARITALSTATUS"
					|translate}}</label> <span ng-model="maritalstatus">Single</span>
			</div>
			<div class="form-row"><span style="font-weight: bolder;">{{"USERPROFILE_EMERGENCY"
					|translate}}</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_EMERGENCY_CONTACTPERSONNAME"
					|translate}}</span>
					<span>Sherine Emad</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_EMERGENCY_CONTACTPERSONMOBILENUMBER"
					|translate}}</span>
					<span>+2010023332222</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_EMERGENCY_CONTACTPERSONRELATION"
					|translate}}</span>
					<span>Sister</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_EMERGENCY_CONTACTPERSONTREATINGDOCTOR"
					|translate}}</span>
					<span>Magdi Mourad</span>
			</div>
			
			<div class="form-row"><span style="font-weight: bolder;">{{"USERPROFILE_HABITS"
					|translate}}</span>
			</div>
			
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_HABITS_SMOKE"
					|translate}}</span>
					<span>N/A</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_HABITS_DRINK"
					|translate}}</span>
					<span>N/A</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_HABITS_BLOODGROUPTYPE"
					|translate}}</span>
					<span>B</span>
			</div>
			<div class="form-row"><span class="userProfileFieldsAlignment">{{"USERPROFILE_HABITS_NOTES"
					|translate}}</span>
					<span>N/A</span>
			</div>
			<div class="form-row buttons"
				ng-show="userprofile_form.name.$valid && userprofile_form.mobile.$valid  && userprofile_form.nationality.$valid  && userprofile_form.countryOfResidence.$valid &&($scope.DateOfBirth!='')&& userprofile_form.email.$valid&&globalNoOfCategories<=3">
				<input type="submit" value="Save"
					ng-click="submitUserProfileUpdate()">
			</div>
			<div class="form-row buttons"
				ng-if="userprofile_form.name.$invalid || userprofile_form.mobile.$invalid || userprofile_form.email.$invalid || userprofile_form.nationality.$invalid || userprofile_form.countryOfResidence.$invalid || ($scope.DateOfBirth=='')|| globalNoOfCategories>3">
				<input type="submit" value="Save" ng-click="validateData()">
			</div>
		</div>
	</form>
</div>
